<!DOCTYPE html>
<html>
  <head>
    <title>Reminders</title>
    <link rel="stylesheet" type="" href="/stylesheets/main.css">

    <link rel="stylesheet" type="" href="/stylesheets/bootstrap.min.css">

    <script src="/scripts/jquery-3.3.1.slim.min.js"></script>
    <script src="/scripts/popper.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
  </head>
  <body>

<header>
<nav class="navbar navbar-expand navbar-dark bg-primary">
  <a href="/" class="navbar-brand">Express Demo</a>


  <div class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="/" class="nav-link">Welcome</a>
            </li>
            
            <li class="nav-item">
              <a href="/survey" class="nav-link">Survey</a>
            </li>

            <li class="nav-item">
              <a href="/" class="nav-link">Hello World</a>
            </li>
          </ul>
       
<% if (username) { %> 
<span class = "navbar-text text-light ml-auto mr-2">
😏 <%=  username %> 
</span>

<form action="/sign_out" method="POST" class="form-inline">
              <button class="btn btn-outline-light">Sign Out</button>
            </form>


<%} else { %> 

       <form action="/sign_in" method="POST" class="form-inline ml-auto">
       <input 
       type="text" 
       name="username" 
       class="form-control mr-2"
       placeholder="Username"
       >
       <button class="btn btn-outline-light" type="submit">Sign In</button>  
       </form>
       
          </div>
          <% } %>

</nav>
  </header>


  <main class="container-fluid">
    
