

html {

    font-family: Helvetica, Arial,  sans-serif
    
    }

#form_page {
    width: 80%;
    margin: 50px;
}

nav { 

   float: right;
}

img {
    display: inline;
}

.radio_buttons { 
    display: inline;
}

.input_label { 

width: 100px;
text-align: center;
}

table{
    text-align: left;
}